In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
stores = pd.read_csv("store.csv")
train = pd.read_csv("train.csv")

C:\Users\sachm\AppData\Roaming\Python\Python39\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
train.nunique()

Store             1115
DayOfWeek            7
Date               942
Sales            21734
Customers         4086
Open                 2
Promo                2
StateHoliday         5
SchoolHoliday        2
dtype: int64

In [19]:
stores.nunique()

Store                        1115
StoreType                       4
Assortment                      3
CompetitionDistance           654
CompetitionOpenSinceMonth      12
CompetitionOpenSinceYear       23
Promo2                          2
Promo2SinceWeek                24
Promo2SinceYear                 7
PromoInterval                   3
dtype: int64

In [21]:
stores.isnull().sum()

Store                          0
StoreType                      0
Assortment                     0
CompetitionDistance            3
CompetitionOpenSinceMonth    354
CompetitionOpenSinceYear     354
Promo2                         0
Promo2SinceWeek              544
Promo2SinceYear              544
PromoInterval                544
dtype: int64

In [22]:
train.isnull().sum()

Store            0
DayOfWeek        0
Date             0
Sales            0
Customers        0
Open             0
Promo            0
StateHoliday     0
SchoolHoliday    0
dtype: int64

# Merging both dataframes

In [15]:
# merging 'stores' and 'train' dataframes based on 'Store' column
data = pd.merge(train, stores, how="inner", on="Store", validate="m:1")

#  Preprocessing

In [16]:
data.loc[:,'Date'] = pd.to_datetime(data['Date']) # converting to date-time datatype
data['Year'] = data['Date'].dt.year
data['Month'] = data['Date'].dt.month
data['Day'] = data['Date'].dt.day

In [17]:
data = data.loc[data['Open']==1,:].copy()

In [23]:
data["CompetitionOpen"] = 12*(data['Year'] - data['CompetitionOpenSinceYear']) + (data['Month'] - data['CompetitionOpenSinceMonth'])

In [24]:
data.loc[:, 'CompetitionOpen'] = data['CompetitionOpen'].apply(lambda x:0 if x<0 else x)

In [25]:
data[['Date', 'CompetitionDistance','CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth','CompetitionOpen']].sample(20)

,Date,CompetitionDistance,CompetitionOpenSinceYear,CompetitionOpenSinceMonth,CompetitionOpen
865846,2013-06-15,8460.0,1994.0,11.0,223.0
484160,2014-06-02,4030.0,NaN,NaN,NaN
882973,2015-01-23,600.0,1999.0,11.0,182.0
592803,2014-01-18,200.0,NaN,NaN,NaN
703494,2015-01-22,200.0,NaN,NaN,NaN
68725,2015-04-23,19960.0,2006.0,3.0,109.0
854839,2013-02-22,2820.0,2009.0,9.0,41.0
12212,2015-03-03,1300.0,2014.0,3.0,12.0
1000203,2015-02-25,720.0,2002.0,3.0,155.0
136852,2013-08-26,4360.0,2005.0,10.0,94.0
54688,2015-07-23,350.0,2007.0,12.0,91.0
21453,2014-08-26,4590.0,2000.0,3.0,173.0
490557,2014-02-19,990.0,2010.0,2.0,48.0
447992,2013-12-28,4680.0,NaN,NaN,NaN
896962,2014-10-06,440.0,NaN,NaN,NaN
121721,2014-04-04,1200.0,2008.0,9.0,67.0
533394,2014-01-15,440.0,2014.0,4.0,0.0
902898,2013-02-26,20930.0,NaN,NaN,NaN
556816,2015-06-17,8080.0,2002.0,12.0,150.0
471192,2014-04-07,22490.0,NaN,NaN,NaN

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 844392 entries, 0 to 1017207
Data columns (total 22 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Store                      844392 non-null  int64
 1   DayOfWeek                  844392 non-null  int64
 2   Date                       844392 non-null  datetime64[ns]
 3   Sales                      844392 non-null  int64
 4   Customers                  844392 non-null  int64
 5   Open                       844392 non-null  int64
 6   Promo                      844392 non-null  int64
 7   StateHoliday               844392 non-null  object
 8   SchoolHoliday              844392 non-null  int64
 9   StoreType                  844392 non-null  object
 10  Assortment                 844392 non-null  object
 11  CompetitionDistance        842206 non-null  float64
 12  CompetitionOpenSinceMonth  575773 non-null  float64
 13  CompetitionOpenSinceYear   575773 non-null  float64
 14  Promo2                     844392 non-null  int64
 15  Promo2SinceWeek            421085 non-null  float64
 16  Promo2SinceYear            421085 non-null  float64
 17  PromoInterval              421085 non-null  object
 18  Year                       844392 non-null  int64
 19  Month                      844392 non-null  int64
 20  Day                        844392 non-null  int64
 21  CompetitionOpen            575773 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(11), object(4)
memory usage: 148.2+ MB